<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>993626699623-fcmoo37g41tv0sd9kfhgnts6l5mrurin.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.993626699623-fcmoo37g41tv0sd9kfhgnts6l5mrurin</string>
	<key>API_KEY</key>
	<string>AIzaSyCB4XXu4WoUfEicr-WWARFYOTHqdmHQkPU</string>
	<key>GCM_SENDER_ID</key>
	<string>993626699623</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sype</string>
	<key>PROJECT_ID</key>
	<string>sype-privacy</string>
	<key>STORAGE_BUCKET</key>
	<string>sype-privacy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:993626699623:ios:d82947c6a73d0603fd61c2</string>
	<key>DATABASE_URL</key>
	<string>https://sype-privacy.firebaseio.com</string>
</dict>
</plist>